---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import '../fonts.css';
import '../style.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="columns-2
		gap-8
		overflow-hidden
		flex
		flex-row
		w-screen
		h-screen
		bg-neutral-50
		px-10
		py-8
		font-['SuisseIntl']">
			<div class="font-sans
			flex
			flex-col
			justify-center
			m-w-[50%]
			h-full"
			style="width: calc(50% - 40px);">
				<h1 class="font-normal
				tracking-tight
				leading-[110%]
				text-center" 
				style="font-size: calc(3.9vw - 4.3px);">
					Get Your<br><span class="italic">Job Search</span><br>Together
				</h1>
				<div class="flex
				justify-center"
				style="margin-top: 2vw;">
					<a href="" class="flex
					justify-center
					items-center
					bg-neutral-900
					text-neutral-50
					rounded-[0.25em]"
					style="height: 3.5vw;
					font-size: 1.2vw;
					padding: 0 1.2vw">
						Get Extension
					</a>
				</div>
			</div>

			<ol id="canban" class="
			flex
			flex-row
			gap-4
			w-full
			self-center
			h-[400px]">
				<li class="flex-1">
					<h2 class="bg-neutral-900
					text-neutral-50
					px-3
					py-1
					rounded">
						Interviewing
					</h2>
					<div>
						<ol id="col-1" class="[&>*]:bg-white
							[&>*]:mt-2
							[&>*]:px-3
							[&>*]:py-2
							[&>*]:rounded
							[&>*]:border
							[&>*]:border-neutral-200">
							<li class="">
								<div>
									<p class="text-sm
									font-semibold
									text-emerald-500">
										Updated today
									</p>
								</div>
								<div>
									<p class="text-base
									font-semibold
									text-neutral-700">
										1. Software engineer @ Google
									</p>
								</div>
								<div>
									<p class="text-sm
									text-neutral-400">
										Seattle, WA + 2 More · €156K - €234K
									</p>
								</div>
							</li>
							<li class="">
								<div>
									<p class="text-sm
									font-semibold
									text-emerald-500">
										Updated today
									</p>
								</div>
								<div>
									<p class="text-base
									font-semibold
									text-neutral-700">
										2. Software engineer @ Google
									</p>
								</div>
								<div>
									<p class="text-sm
									text-neutral-400">
										Seattle, WA + 2 More · €156K - €234K
									</p>
								</div>
							</li>
							<li class="">
								<div>
									<p class="text-sm
									font-semibold
									text-emerald-500">
										Updated today
									</p>
								</div>
								<div>
									<p class="text-base
									font-semibold
									text-neutral-700">
										3. Software engineer @ Google
									</p>
								</div>
								<div>
									<p class="text-sm
									text-neutral-400">
										Seattle, WA + 2 More · €156K - €234K
									</p>
								</div>
							</li>
							<li class="">
								<div>
									<p class="text-sm
									font-semibold
									text-emerald-500">
										Updated today
									</p>
								</div>
								<div>
									<p class="text-base
									font-semibold
									text-neutral-700">
										4. Software engineer @ Google
									</p>
								</div>
								<div>
									<p class="text-sm
									text-neutral-400">
										Seattle, WA + 2 More · €156K - €234K
									</p>
								</div>
							</li>
							<li class="">
								<div>
									<p class="text-sm
									font-semibold
									text-emerald-500">
										Updated today
									</p>
								</div>
								<div>
									<p class="text-base
									font-semibold
									text-neutral-700">
										5. Software engineer @ Google
									</p>
								</div>
								<div>
									<p class="text-sm
									text-neutral-400">
										Seattle, WA + 2 More · €156K - €234K
									</p>
								</div>
							</li>
						</ol>
					</div>
				</li>
				<li class="flex-1">
					<h2 class="bg-neutral-900
					text-neutral-50
					px-3
					py-1
					rounded">
						Offer
					</h2>
					<div>
						<ol id="col-2" class="[&>*]:bg-white
							[&>*]:mt-2
							[&>*]:px-3
							[&>*]:py-2
							[&>*]:rounded
							[&>*]:border
							[&>*]:border-neutral-200">
							
						</ol>
					</div>
				</li>
				
			</ol>
		</div>
	</main>
</Layout>