
#col-1 li:nth-child(4),
#col-1 li:nth-child(5) {
    opacity: 0;
}

.resetTranslate {
    transform: none !important;
}

.resetTransition {
    transition: none !important;
}

li > .defaultTranslate {
    transform: translateX(0px) !important;
}

.moveCardUp {
    animation-duration: 1s !important;
    animation-name: moveUp !important;
    animation-timing-function: cubic-bezier(0.3, 1, 0.7, 1) !important;
}

@keyframes moveUp {
    from {
        transform: translateY(0px) !important;
    }
    
    to {
        transform: translateY(-90px) !important;
    }
}